
<div class="container">
    <img src="~/images/faleconosco1.jpg" alt="Fale conosco"/>
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <span>
                <img src="~/images/Envelope-icon24.png" />
            </span>

            <h5><email-tag-helpers endereco="ysmaelbraga01@gmail.com" conteudo="Enviar um e-mail"></email-tag-helpers></h5>
            <br />
            <span>
                <img src="~/images/phone-app-icon.png"/>
            </span>
            <h5>(21) 98614-2456</h5>
            <br />
            <span>
                <img src="~/images/home-iconred.png" />
            </span>
            <h5>Eliseu de alvarenga 136 - 26510-362 - Rio de janeiro</h5>
        </p>
    </div>
</div>